@model IEnumerable<ManageBidding.Application.ViewModels.BiddingViewModel>

@{
    ViewData["Title"] = "Lista de licitações";
}

<link rel="stylesheet" href="~/css/bidding/index.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<vc:Summary></vc:Summary>

<a class="btn btn-info" asp-action="Create">Nova licitação</a>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.Display("Número")</th>
            <th>@Html.Display("Data de abertura")</th>
            <th>@Html.Display("Status")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bidding in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => bidding.Number)</td>
                <td>@Html.DisplayFor(model => bidding.RegistrationDate)</td>
                <td>@Html.DisplayFor(model => bidding.Status)</td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@bidding.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@bidding.Id"><span class="fa fa-pencil-alt"></span></a>
                    <a class="btn btn-warning" asp-action="Delete" asp-route-id="@bidding.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>