@model IEnumerable<ManageBidding.Application.ViewModels.BiddingViewModel>
@using ManageBidding.MVC.Extensions

@{
    ViewData["Title"] = "Lista de licitações";
}

<link rel="stylesheet" href="~/css/bidding/index.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>
<hr />

<vc:Summary></vc:Summary>

<a class="btn btn-info btn-new-bidding" asp-action="Create">Nova licitação</a>

<table id="bidding-data-table" class="table table-hover table-biddings">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayName("Número")</th>
            <th>@Html.DisplayName("Data de abertura")</th>
            <th>@Html.DisplayName("Status")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bidding in Model)
        {
            <tr>
                <td>@this.FormarBiddingNumber(bidding.Number)</td>
                <td>@Html.DisplayFor(model => bidding.RegistrationDate)</td>
                <td>@Html.DisplayFor(model => bidding.Status)</td>
                <td class="td-actions">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@bidding.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@bidding.Id"><span class="fa fa-pencil-alt"></span></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@bidding.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>